{% extends "findme/base.html" %}
{% block content %}
<div class="container">

       <div class="col-md-12">
              <div style="margin-top: 5%;" class="row">
                     <h1 style="color:whitesmoke;">About Page</h1>
                     <p>
                     <h2 style="color:whitesmoke;">Topic: Web based Lost & Found Platform</h2>
                     <h2 style="color: whitesmoke;">Framework: Django</h2>
                     <br>
                     <h2 style="color:whitesmoke;"> Done By:<br></h2>
                     <br>
                     <ul>
                            <l1>
                                   <h4 style="color:whitesmoke;">Chinmay Parekh (IMT2020069)</h4>
                            </l1>
                     </ul>
                     <h2 style="color:whitesmoke;">References: </h2>
                     <br>
                     <h4><a style="background: rgba(16, 140, 223, 0.8); color:whitesmoke"
                                   class="btn btn-outline-secondary link"
                                   href="https://docs.djangoproject.com/en/3.1/">The Official Django
                                   Documentation</a></h4>
                     <h4><a style="background: rgba(16, 140, 223, 0.8); color:whitesmoke"
                                   class="btn btn-outline-secondary" href="https://getbootstrap.com/">Bootstrap</a></h4>
                     <h4><a style="background: rgba(16, 140, 223, 0.8); color:whitesmoke"
                                   class="btn btn-outline-secondary" href="https://youtu.be/F5mRW0jo-U4">Python
                                   Django Web Framework - Full Course for Beginners - Freecodecamp.org</a></h4>
                     <h4><a style="background: rgba(16, 140, 223, 0.8); color:whitesmoke"
                                   class="btn btn-outline-secondary"
                                   href="https://www.youtube.com/playlist?list=PL-osiE80TeTtoQCKZ03TU5fNfx2UY6U4p">Corey
                                   Schafer</a></h4>
                     <h4><a style="background: rgba(16, 140, 223, 0.8); color:whitesmoke"
                                   class="btn btn-outline-secondary" href="https://w3schools.com/">w3schools</a>
                     </h4>
                     <h4><a style="background: rgba(16, 140, 223, 0.8); color:whitesmoke"
                                   class="btn btn-outline-secondary"
                                   href="https://www.youtube.com/watch?v=sm1mokevMWk">Tech with Tim</a>
                            </p>
              </div>
       </div>


</div>

{% endblock %}