{% extends "findme/base.html" %}
{% block content %}
<style>
    :root {
        --surface-color: #0b0c10;
        --curve: 40;
        --black-color: #45a29e;
        --text-color: rgb(188, 212, 209);
    }

    * {
        box-sizing: border-box;
    }

    .cards {
        display: grid;
        gap: 2rem;
        margin: 4rem 5vw;
        padding: 0;
        list-style: none;
    }

    .card {
        position: relative;
        display: block;
        height: 100%;
        border-radius: calc(var(--curve)*1px);
        -webkit-border-radius: calc(var(--curve)*1px);
        -moz-border-radius: calc(var(--curve)*1px);
        -o-border-radius: calc(var(--curve)*1px);
        overflow: hidden;
        text-decoration: none;
    }

    /* .card__image {
        width: 100%;
        height: auto;
    } */
    .picture {
        width: 100%;
        height: auto;
    }

    .card__overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        height: 100%;
        border-radius: calc(var(--curve)*1px);
        background: var(--surface-color);
        transform: translateY(100%);
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
        transition: 0.2s ease-in-out;
        -webkit-transition: 0.2s ease-in-out;
        -moz-transition: 0.2s ease-in-out;
        -o-transition: 0.2s ease-in-out;
        -ms-transition: 0.2s ease-in-out;
    }

    .card:hover .card__overlay {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    .card__header {
        position: relative;
        display: flex;
        align-items: center;
        gap: 2rem;
        border-radius: calc(var(--curve)*1px) 0 0 0;
        background-color: var(--surface-color);
        padding: 2em;
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transition: 0.2s ease-in-out;
    }

    .card__arc,.card__arc__found {
        width: 5em;
        height: 5em;
        position: absolute;
        bottom: 100%;
        right: 0;
        z-index: 1;
    }

    .card__arc path {
        fill: rgb(166, 30, 15,0.8);
        d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
    }
    .card__arc__found path {
        fill: rgb(15, 155, 57);
        d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
    }

    .card:hover .card__header {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    .card__thumb {
        flex-shrink: 0;
        width: 3.125em;
        height: 3.125em;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

    .card__title {
        font-size: 1em;
        margin: 0 0 0.3em;
        color: var(--black-color);

    }

    .card__status {
        font-size: 0.8em;
        color: var(--text-color);
    }

    .card__description {
        padding: 0 2em 2em;
        margin: 0;
        color: var(--text-color);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }



</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                {% if items|length > 0 %}
                {% for item in items %}
                <div class="col-md-4">
                    <ul class="cards">
                        <li>
                            <a href="{% url 'detail' item.ItemID %}" class="card">
                                <img src="{{ item.image.url}}" alt="" class="class__image picture">
                                <div class="card__overlay">
                                    <div style="background-color: rgb(15, 155, 57,0.8)" class="card__header">
                                        <svg class="card__arc__found" xmlns="http://www.w3.org/2000/svg">
                                            <path/>
                                        </svg>
                                        <img src="{{ item.name.profile.image.url }}" class="card__thumb">
                                        <div class="card__header-text">
                                            <h3 style="color:white" class="card__title">{{item.title}}</h3>
                                            <span style="color:honeydew" class="card__status">{{ item.lost_date|date:"d F, Y"}}</span>
                                        </div>
                                    </div>
                                    <p class="card__description">{{item.description}}</p>
                                    <p style="color:honeydew" class="card__description">Lost at {{item.location}}
                                        by
                                        {{item.name}}</p>
                                    <p style="color:honeydew" class="card__description ">Found at {{ item.found_location}} by {{item.item_found_by}}</p>

                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                {% endfor %}
                {% else %}
                    <h1 style="color:white">No items are found!</h1>
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock %}